<svg
  class="recipe-photo-placeholder__icon"
  viewBox="0 0 40 40"
  aria-hidden="true"
>
  <ellipse class="recipe-photo-placeholder__shadow" cx="20" cy="31" rx="11" ry="3" />
  <ellipse class="recipe-photo-placeholder__plate" cx="20" cy="27" rx="12" ry="4" />
  <path
    class="recipe-photo-placeholder__rim"
    d="M8 27c2-9 8-13 12-13s10 4 12 13"
  />
  <path class="recipe-photo-placeholder__food" d="M12 25c2-5 6-7 8-7s6 2 8 7c-3 2-5 3-8 3s-5-1-8-3Z" />
  <path class="recipe-photo-placeholder__herb" d="M26 16c1-2 3-3 4-3s3 1 4 3M28 16v4" />
</svg>
